{% extends 'adminbase.html.twig' %}

{% block title %}New City{% endblock %}

{% block page %}  <h4 class="page-title pull-left">New City Add</h4>{% endblock %}
{% block path %}  <li><a href="{{ path('admin_product_index') }}">City List </a></li> <li><a href=>City Add </a></li> {% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="header-title" >Add New City</h4>

        <div class="col-12 mt-5">


                <div id="users" class="col-6 mt-5">
    <form name="product" method="post">
        <div id="product"><div><label for="product_title"><b class="text-muted mb-3 mt-4 d-block">Title</b></label>
<input class="form-control" type="text" id="product_title" name="city[name]" maxlength="150"></div> 
             <input type="hidden" name="_token" value="{{ csrf_token('new-item') }}"/>
        <button class="btn btn-primary mt-4 pr-4 pl-4" class="btn">Save</button>
    </form>
<br>

    <a href="{{ path('admin_product_index') }}">back to list</a>
                </div> </div> </div> 
{% endblock %}