{% extends 'frontbase.html.twig' %}
{% block title %}New Orders{% endblock %}

{% block content %}
<body>
  {{ include ('home/sidebar2.html.twig') }}

    {{ include('orders/_form.html.twig') }}


    </body>
{% endblock %}
