{% extends 'frontbase.html.twig' %}

{% block title %}Error{% endblock %}

{% block keywords %} {% endblock %}
{% block description %} {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Error</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	  <link rel="icon"
          type="image/png"

          href="https://cdn4.iconfinder.com/data/icons/natural-green-perfect-pixel-2/512/Leaves_leaf_green_natural-512.png">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<div class="container text-center">
		<div class="logo-404">
		
		</div>
		<div class="content-404">
			<img src="{{ asset('uploads') }}/images/404.png" class="img-responsive" alt="" />
			
                                                 {% if app.request.getLocale() == 'tr'%} 
                                                   	<h2><b>Üzgünüz</b>Anahtar Kelime ile ilgili Ürün bulunmadı</h2>

			<h4><a href="{{ path('home') }}">Ana Sayfaya</a></h4>
                                                
 
 {% elseif app.request.getLocale() == 'ar'%}
  	<h2><b>للأسف</b> لا يوجد منتجات تطابق الكلمة المفتاحية</h2>

			<h4><a href="{{ path('home') }}">الذهاب إلى الصفحة الرئيسية</a></h4>
 
 {% else %}
 
  	<h2><b>OPPS!</b> We Could not find any product related to keyword</h2>
		
			<h4><a href="{{ path('home') }}">Bring me back Home</a></h4>

                      {% endif %}
                        
		
		</div>
	</div>

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>


 {% endblock %}