{% extends 'frontbase.html.twig' %}

{% block title %} Executive Board{% endblock %}

{% block keywords %} Executive Board {% endblock %}
{% block description %} Executive Board{% endblock %}

{% block content %}
<head >
    <style> .imagepro {
    width: 300px;
    height: 300px;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
} 

.imagepro img{


  display: block;
 max-height: 350px;
 max-width: 350px;
  object-fit: scale-down;
}


.cert img {
    
     display: block;
 max-height: 250px;
 max-width: 200px;
  object-fit: scale-down;
    
}

img {

}


.product-image-wrapper {
    
    width: 280px;
    height: 500px;
   margin-left: 0px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

</style>
    <link rel="icon"
          type="image/png"

          href="https://cdn4.iconfinder.com/data/icons/natural-green-perfect-pixel-2/512/Leaves_leaf_green_natural-512.png">
</head>
<br>
    <div class="wrap">
<div class="features_items"><!--features_items-->

    <h2 class="title text-center">{% trans  %}Our Executive Board{% endtrans %}</h2>




    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products" style="width: auto; height: auto">
<div class="productinfo text-center">
                   <div class="imagepro">
                    <img class="cert" alt="" src="{{ asset('uploads') }}/images/yosef.png"  >
                    
                  <h2 >{% trans  %}Dr.Yousef Salo{% endtrans %}</h2> <p>{% trans  %}General Manager{% endtrans %} </p><p>{% trans  %}With 30 Years Experience{% endtrans %} </p>
                   


            </div>
</div>
            </div> </div> </div>
            
            
            
            





</div>

    </div>



 {% endblock %}

